/* Main Values */

body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
:root {
    --main-bgc: white ;
    --txt-bgc: #EEEEEE ;
    --main-trans: 0.5s ease ;
}
.container {
    position: relative;
    flex: 1;
    max-width: calc(100% - 75px);
}
.mini-cont {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    height: calc(100% - 110px);
    gap: 20px;
}
.mini-cont h1 {
    margin-top: 0;
    position: relative;
    align-self: flex-start;
    flex-basis: 100%;
}
.mini-cont h1 span {
    margin-top: 0;
    position: relative;
}
.mini-cont h1::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 140px;
    bottom: -8px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.mini-cont .box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.mini-cont .box .top {
    padding: 20px;
}
.mini-cont .box .top h2 {
    margin: 0;
}
.mini-cont .box .top p {
    margin: 0;
    margin-top: 10px;
}
@media (max-width:500px) {
    .box {
        flex-basis: 100%;
        text-align: center;
    }
    .box .top {
        justify-content: center !important;
        padding-bottom: 30px !important;
    }
}
@media (min-width:500px) and (max-width:1170px) {
    .box {
        flex-basis: 100%;
    }
}
@media (min-width:1170px) and (max-width:1650px) {
    .box {
        flex-basis: calc(50% - 20px);
    }
}
@media (min-width:1650px) {
    .box {
        flex-basis: 32%;
    }
}


/* ----------------------------------- */



/* main */

.main {
    position: relative;
    background-color: #F1F5F9;
    display: flex;
}
/* ------------------------------------ */



/* Start Sidebar */

.sidebar {
    position: relative;
    width: 250px;
    min-width: 170px;
    box-sizing: border-box;
    box-shadow: 0px -10px 15px rgba(107, 107, 107, 0.24) ;
    background-color: rgb(255, 255, 255);
    transition: var(--main-trans);
    z-index: 1;
}
.sidebar .head {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    width: fit-content;
}
.sidebar .head::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: black;
}
.sidebar .head::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    height: 20px;
    width: 20px;
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
}
.sidebar ul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
.sidebar ul li {
    transition: var(--main-trans);
    border-radius: 6px;
    font-size: 15px;
}
.sidebar ul li a {
    position: relative;
    padding: 15px 10px;
    display: block;
    margin: 5px 10px;
    border-radius: 6px;
    text-align: left;
    transition: var(--main-trans);
}
.sidebar ul li a i {
    position: relative;
    padding-right: 5px;
    width: 20px;
}
.sidebar ul li a:hover ,
.sidebar ul li a.active {
    background-color: #F6F6F6 ;
}
@media (max-width:768px) {
    .sidebar {
        width: fit-content;
        text-align: center;
        min-width: fit-content;
    }
    .sidebar .head {
        font-size: 15px;
        margin-bottom: 0;
        padding: 10px;
        padding-top: 20px;
    }
    .sidebar .head::before ,
    .sidebar .head::after {
        display: none;
    }
    .sidebar span {
        display: none;
    }
    .sidebar ul li {
        position: relative;
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 5px;
    }
    .sidebar ul li a {
        width: fit-content;
        margin: 0;
    }
    .sidebar ul li a i {
        width: fit-content;
        padding-right: 0;
        margin: 0;
        font-size: 15px;
        padding: 5px;
    }
}

/* ------------------------------------ */



/* Start Header */


.header {
    position: relative;
    display: flex;
    height: 70px;
    justify-content: space-between;
    flex: 1;
    background-color: white;
    width: 100%;
}
.header form {
    display: flex;
    margin: 15px;
    border: 1px solid #77777762 ;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
}
.header form i {
    align-self: center;
    padding-left: 10px;
    padding-right: 5px;
    color: rgba(0, 0, 0, 0.658);
}
.header form input {
    border: none;
    outline: none;
    padding: 0px;
    width: 110px;
    font-size: small;
    transition: var(--main-trans);
}
.header form input[type=search]::placeholder {
    color: rgba(0, 0, 0, 0.658);
}
.header form input[type=search]:focus {
    width: 150px ;
}
.header form input[type=search]:focus::placeholder  {
    color: white;
}
.header img {
    max-width: 40px;
    max-height: 40px;
    margin: 10px;
    border-radius: 50%;
}
.header .prof {
    display: flex;
    align-items: center;
    margin: 0;
}
.header .prof i {
    position: relative;
    font-size: 21px;
}
.header .prof i::after {
    content: "";
    position: absolute;
    background-color: red;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


/* ------------------------------------ */


/* Start Welcome */


.mini-cont .welcome {
    background-color: white;
}
.mini-cont .welcome .top {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.mini-cont .welcome .top p {
    margin-bottom: 10px;
}
.mini-cont .welcome .top img {
    width: 200px;
}
.mini-cont .welcome .bottom .img {
    position: relative;
    width: 100%;
}
.mini-cont .welcome .bottom img {
    position: relative;
    max-width: 64px;
    top: -32px;
    left: 20px;
    border: 5px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(194, 194, 194);
}
.mini-cont .welcome .bottom .txt {
    position: relative;
    padding: 20px 10px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-top: 1px solid rgba(0, 0, 0, 0.123);
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}
.mini-cont .welcome .bottom .txt h4 {
    margin-bottom: 0;
}
.mini-cont .welcome .bottom .txt p {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.61);
}
.mini-cont .welcome .footer {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: end;
}
.mini-cont .welcome .footer a {
    position: relative;
    color: white;
    background-color: #0075FF;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 15px;
}
@media (max-width:500px) {
    .welcome .top img {
        display: none;
    }
    .welcome .bottom img {
        left: 0px !important;
    }
    .welcome .bottom .txt {
        flex-direction: column;
    }
}


/* ------------------------------------ */


/* Start Draft */

.mini-cont .draft {
    background-color: white;
}
.mini-cont .draft form {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
.mini-cont .draft form input {
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #EEEEEE;
    padding: 10px 5px;
    font-size: small;
    margin: 0 20px;
    margin-bottom: 20px;
}
.mini-cont .draft form textarea {
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #EEEEEE;
    padding: 10px 5px;
    font-size: small;
    margin: 0 20px;
}
.mini-cont .draft .footer {
    position: relative;
    padding: 20px;
    padding-top: 0 ;
    display: flex;
    justify-content: end;
}
.mini-cont .draft .footer a {
    position: relative;
    color: white;
    background-color: #0075FF;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 20px;
}


/* ------------------------------------ */


/* Start Year */


.mini-cont .year {
    background-color: white;
}
.mini-cont .year .bottom {
    padding: 20px;
}
.year .bottom .target {
    display: flex;
    align-items: center;
    gap: 20px ;
    margin: 20px 0;
    margin-top: 0;
}
.year .bottom .target .i {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #0077ff34;
}
.year .bottom .target i {
    position: relative;
    color: #0075FF;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.year .bottom .target .prog {
    flex: 1;
    text-align: left;
}
.year .bottom .target .prog h4 {
    padding: 0;
    margin: 0;
    font-size: 15px ;
    color: rgba(0, 0, 0, 0.438);
}
.year .bottom .target .prog p {
    margin: 10px 0;
    font-weight: bold;
}
.year .bottom .target .prog .bar {
    position: relative;
    height: 5px;
    background-color: #699cd6a1;;
}
.year .bottom .target .prog .bar span {
    position: relative;
    display: block;
    background-color: #0075FF;
    height: 100%;
}
.year .bottom .target .prog .bar span::before {
    position: absolute;
    content: "80%" ;
    color: white;
    background-color: #0075FF;
    padding: 5px;
    font-size: small;
    top: -35px;
    right: -15px;
    border-radius: 6px;
}
.year .bottom .target .prog .bar span::after {
    position: absolute;
    content: "" ;
    background-color: #ffffff00;
    top: -10px;
    right: -3px;
    width: 0;
    border: 5px solid #0075FF;
    border-bottom-color:transparent ;
    border-left-color:transparent ;
    border-right-color:transparent ;
}
.mini-cont .year .bottom .two .i {
    background-color: #FDECCE;
}
.mini-cont .year .bottom .two i {
    color: #F69E0B;
}
.year .bottom .two .prog .bar {
    background-color: #FDECCE;
}
.year .bottom .two .prog .bar span {
    background-color: #F69E0B;
}
.year .bottom .two .prog .bar span::before {
    content: "55%";
    background-color: #F69E0B;
}
.year .bottom .two .prog .bar span::after {
    border: 5px solid #F69E0B;
    border-bottom-color:transparent ;
    border-left-color:transparent ;
    border-right-color:transparent ;
}
.mini-cont .year .bottom .three .i {
    background-color: #D3F3DF;
}
.mini-cont .year .bottom .three i {
    color: #22C55E;
}
.year .bottom .three .prog .bar {
    background-color: #D3F3DF;
}
.year .bottom .three .prog .bar span {
    background-color: #22C55E;
}
.year .bottom .three .prog .bar span::before {
    content: "75%";
    background-color: #22C55E;
}
.year .bottom .three .prog .bar span::after {
    border: 5px solid #22C55E;
    border-bottom-color:transparent ;
    border-left-color:transparent ;
    border-right-color:transparent ;
}
@media (max-width:500px) {
    .year .bottom .target .i {
        position: relative;
        max-width: 60px;
        max-height: 60px;
        background-color: #0077ff34;
    }    
    .year .bottom .target i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }    
}


/* ------------------------------------ */


/* Start Tickets */

.mini-cont .ticket {
    background-color: white;
    position: relative;
}
.mini-cont .ticket .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.mini-cont .ticket .bottom .boxs {
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 6px;
    flex-basis: 47%;
    text-align: center;
    padding: 15px 0;
}
.mini-cont .ticket .bottom .boxs i {
    padding: 10px;
    font-size: 27px;
}
.mini-cont .ticket .bottom .boxs .num {
    font-size: 30px;
    font-weight: bold;
}
.mini-cont .ticket .bottom .boxs p {
    padding: 10px;
    margin: 0;
    color: rgba(128, 128, 128, 0.795);
}
.mini-cont .ticket .bottom .one i {
    color: #F59E0B;
}
.mini-cont .ticket .bottom .two i {
    color: #0075FF;
}
.mini-cont .ticket .bottom .three i {
    color: #22C55E;
}
.mini-cont .ticket .bottom .four i {
    color: #F44336;
}
@media (max-width:600px) {
    .mini-cont .ticket .bottom .boxs {
        flex-basis: 100%;
    }
}


/* ------------------------------------ */


/* Start News */


.mini-cont .news {
    background-color: white;
    position: relative;
}
.mini-cont .news .bottom {
    margin: 20px;
    margin-top: 0;
}
.mini-cont .news .bottom .boxs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(155, 155, 155, 0.288);
    padding-bottom: 10px;
}
.mini-cont .news .bottom .last {
    border: none;
}
.mini-cont .news .bottom .boxs img {
    max-width: 100px;
    max-height: 56px;
    border-radius: 8px;
    margin-right: 20px;
}
.mini-cont .news .bottom .boxs .txt {
    flex: 1;
}
.mini-cont .news .bottom .boxs .txt h3{
    margin-bottom: 0;
}
.mini-cont .news .bottom .boxs .txt p{
    margin-top: 10px;
    color: #777;
    font-size: 14px;
}
.mini-cont .news .bottom .boxs .end {
    background-color: #EEEEEE;
    padding: 10px 5px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}
@media (max-width:600px) {
    .mini-cont .news .bottom .boxs {
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
        padding-bottom: 20px ;
    }    
    .mini-cont .news .bottom .boxs img {
        margin-right: 0px;
    }    
}


/* ------------------------------------ */


/* Start Tasks */

.mini-cont .tasks {
    background-color: white;
}
.mini-cont .tasks .bottom {
    margin: 0 20px;
}
.mini-cont .tasks .bottom .boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(155, 155, 155, 0.288);
    margin: 0px 0;
}
.mini-cont .tasks .bottom .boxs .txt h4 {
    margin-top: 16px;
    margin-bottom: 0;
}
.mini-cont .tasks .bottom .boxs .txt p {
    margin-top: 5px;
    margin-bottom: 16px;
    color: #777777e7;
}
.mini-cont .tasks .bottom .boxs i {
    cursor: pointer;
    transition: var(--main-trans);
}
.mini-cont .tasks .bottom .boxs i:hover {
    color:#d43125;
}
.mini-cont .tasks .bottom .del .txt h4 {
    margin-bottom: 0;
    color: #77777754;
}
.mini-cont .tasks .bottom .del .txt p {
    margin-top: 5px;
    color: #77777754;
}
.mini-cont .tasks .bottom .del i {
    cursor: pointer;
    color: #77777788;
}
.mini-cont .tasks .bottom .del i:hover {
    color: #77777788;
}
.mini-cont .tasks .bottom .last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    margin: 0px 0;
}


/* ------------------------------------ */


/* Start Items  */

.items {
    background-color: white;
}
.items .bottom {
    margin: 20px;
    margin-top: 0;
}
.items .bottom .boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}
.items .bottom .one {
    margin-top: 20px;
}
.items .bottom .boxs .left {
    color: rgb(133, 133, 133);
}
.items .bottom .boxs .right {
    font-size: 13px;
    padding: 5px 10px;
    background-color: #EEEEEE;
    border-radius: 6px;
}
.items .bottom .one .right {
    color: rgb(133, 133, 133);
    background-color: transparent;
    font-size: 16px;
    padding-right: 0;
}


/* ------------------------------------ */


/* Start Uploads  */

.upload {
    background-color: white;
}
.upload .bottom .boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
}
.upload .bottom .last {
    border: none;
}
.upload .bottom .boxs img {
    max-width: 40px;
    margin-right: 15px;
}
.upload .bottom .boxs .txt {
    flex: 1;
}
.upload .bottom .boxs .txt h4 {
    margin-top: 5px;
    margin-bottom: 0;
}
.upload .bottom .boxs .txt p {
    margin-top: 5px;
    color: #999999;
}
.upload .bottom .boxs .end {
    font-size: 14px;
    background-color: #EEEEEE;
    padding: 5px 10px;
    border-radius: 6px;
}

/* ------------------------------------ */


/* Start Progress  */

.prog {
    background-color: white;
}
.prog .bottom {
    margin: 20px;
    margin-top: 10px;
}
.prog  .bottom .boxs {
    position: relative;
    margin-bottom: 20px;
    font-size: large;
    display: flex;
    align-items: center;
}
.prog .bottom .boxs .i {
    position: relative;
    color: #0075FF;
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
    padding: 2.5px;
    border: 2px solid;
}
.prog .bottom .boxs .i::before {
    content: "";
    position: absolute;
    height: 44px;
    width: 2px;
    background-color: #0075FF;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
.prog .bottom .last .i::before {
    content: "";
    position: absolute;
    height: 0;
    background-color: #0075FF;
    z-index: 0;
}
.prog .bottom .boxs i {
    color: #0075FF;
    position: relative;
    font-size: 25px;
    top: 1px;
    left: 50%;
    transform: translatex(-50%);
}
.prog .bottom .bef i {
    animation: color 3s infinite ;
}
.prog .bottom .last i {
    color: white;
}
.prog .bottom .img {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.prog .bottom .img img {
    max-width: 160px;
    opacity: 0.14;
}
@keyframes color {
    0% {
        color: #0075FF;
    }
    50% {
        color: white;
    }
    100% {
        color: #0075FF;
    }
}


/* ------------------------------------ */


/* Start Reminders  */


.remind {
    background-color: white;
}
.remind .bottom .boxs {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.remind .bottom {
    margin-left: 10px;
    margin-bottom: 20px;
}
.remind .bottom .boxs .i {
    padding: 15px 15px;
    margin-right: 20px;
    border-right: 2px solid;
    color: #0075FF;
    font-size: 18px;
}
.remind .bottom .boxs:nth-child(2) .i {
    color: #22C55E;
} 
.remind .bottom .boxs:nth-child(3) .i {
    color: #F59E0B;
} 
.remind .bottom .boxs:nth-child(4) .i {
    color: #F44336;
} 
.remind .bottom .boxs .txt {
    flex: 1;
}
.remind .bottom .boxs .txt h4 {
    margin-bottom: 0;
    font-size: 15px;
}
.remind .bottom .boxs .txt p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #b4b4b4;
}


/* ------------------------------------ */


/* Start Post  */


.post {
    background-color: white;
}
.post .bottom {
    margin: 20px;
    margin-top: 0;
}
.post .bottom .start {
    display: flex;
    align-items: center;
}
.post .bottom .start img {
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
    margin-right: 15px;
}
.post .bottom .start .txt h4 {
    margin-bottom: 0;
}
.post .bottom .start .txt p {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}
.post .bottom .mid {
    margin: 30px 0 ;
    padding: 15px 0;
    line-height: 1.8;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.post .end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post .end .sec {
    display: flex;
    align-items: center;
    color: #9e9e9e;
}
.post .end .sec i {
    margin-right: 5px;
}
.post .end .sec i:hover {
    color: orangered;
}
.post .end .two i:hover {
    color: #0075FF;
}


/* ------------------------------------ */


/* Start Social  */

.social {
    background-color: white;
}
.social .bottom {
    margin: 20px;
    margin-top: 0;
}
.social .bottom .boxs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CCE4F0;
    margin-bottom: 15px;
}
.social .boxs .i {
    background-color: #0075FF;
    color: white;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    transition: 0.3s ease;
}
.social .boxs .i:hover {
    transform: rotate(7deg);
}
.social .boxs .i i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 28px;
}
.social .bottom .boxs p {
    flex:1;
    margin-left: 15px;
    color: #1877F2;
    font-weight: 600;
}
.social .bottom .boxs .state {
    margin-right: 15px;
    padding: 5px 10px;
    background-color: #1877F2;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.social .bottom .boxs:nth-child(1) {
    background-color: #00b7ff33;
}
.social .bottom .boxs:nth-child(1) .i {
    background-color: #00b7ffe0;
}
.social .bottom .boxs:nth-child(1) p {
    color: #11a9e6de;
}
.social .bottom .boxs:nth-child(1) .state {
    background-color: #00b7ffe0;
}
.social .bottom .boxs:nth-child(3) {
    background-color: #d626265e;
}
.social .bottom .boxs:nth-child(3) .i {
    background-color: #FF0000;
}
.social .bottom .boxs:nth-child(3) p {
    color: #FF0000;
}
.social .bottom .boxs:nth-child(3) .state {
    background-color: #FF0000;
}
.social .bottom .boxs:nth-child(4) {
    background-color: #0d65943f;
}
.social .bottom .boxs:nth-child(4) .i {
    background-color: #0077B5;
}
.social .bottom .boxs:nth-child(4) p {
    color: #0077B5;
}
.social .bottom .boxs:nth-child(4) .state {
    background-color: #0077B5;
}
@media (max-width:450px) {
    .social .bottom .boxs p {
        display: none;
    }
    .social .boxs .i {
        color: #0075FF;
        background-color: rgba(255, 255, 255, 0);
        width: 30px;
        margin-left: 10px;
    }
    .social .bottom .boxs:nth-child(1) .i {
        color: #00b7ffe0;
        background-color: rgba(255, 255, 255, 0);
    }    
    .social .bottom .boxs:nth-child(3) .i {
        color: #FF0000;
        background-color: rgba(255, 255, 255, 0);
    }
    .social .bottom .boxs:nth-child(4) .i {
        color: #0077B5;
        background-color: rgba(255, 255, 255, 0);
    }
}


/* ------------------------------------ */


/* Start Social  */

